* {
    margin: 0;
    padding: 0;
}
.info {
    color: white;
    position: absolute;
    top: 4%;
    left:20%;
    font-size: 40px;
    padding: 10px;
 }
.infop {
    padding: 10px;
    left:20%; 
    line-height: 200%;
}

 .photo {
    position: absolute;
    top: 1%;
    left:0%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-left: 2%
 }
.work-education td {
     padding: 18px;
    }
.work-education td li {
    padding: 5px;
    margin-left: 5%;
    font-weight: lighter;
}
 .work-education h2,h3 {
     font-size: 35px;
     font-weight: bold;
     color :rgb(4, 4, 87);
 }
 .work-education table { 
     margin-top: 10px;
     font-size: 25px;
     font-weight: bolder;
     text-align: auto;
 }
.work-education {
    margin-top: 15px;
    margin-left: 2%;
    background-image: linear-gradient(to right, rgb(250, 245, 245), rgb(132,137,225));
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
h4 {
    margin-top: 10px;
    padding: 18px;
    font-size: 35px;
    font-weight: bold;
    color :rgb(4, 4, 87);
    margin-left: 2%;
}
.contact {
    display: flex;
    background-color: rgb(4, 4, 110);
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}
.contact > div {
    flex: 1;
    margin: 5px;
    font-size: 35px;
    padding: 15px;
    color:white;
    background:rgb(158, 158, 240);
    border-radius: 15%;   
}